@model moment3.Models.BookModel

@{
    ViewData["Title"] = "Detaljer";
}

<h2 class="mb-4 text-center">Bokdetaljer</h2>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-lg p-4">
            <div class="card-body">

                <div class="mb-3">
                    <h6 class="fw-bold">Titel:</h6>
                    <p class="text-muted">@Model.Title</p>
                </div>

                <div class="mb-3">
                    <h6 class="fw-bold">Författare:</h6>
                    <p class="text-muted">@Model.AuthorName</p>
                </div>

                <div class="mb-3">
                    <h6 class="fw-bold">Publiceringsår:</h6>
                    <p class="text-muted">@Model.PublishedYear</p>
                </div>

                <div class="mb-3">
                    <h6 class="fw-bold">Beskrivning:</h6>
                    <p class="text-muted">@Model.Description</p>
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Redigera</a>
                    <a asp-action="Index" class="btn btn-secondary">Tillbaka till boksamlingen</a>
                </div>
            </div>
        </div>
    </div>
</div>