html {
  font-size: 16px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-theme {
  background-color: #ffd3d3;
}

footer {
  background-color: #ffd3d3;
}